#tarolo{
    width: 100%;
    height: 400px;
    background-color: yellow;
    display: flex;
    padding-left: 0px;
    align-items: flex-start;
    justify-content: space-between;
}
.item{
    width: 100px;
    height: 100px;
    list-style: none;
    background-color: purple;
    align-self: center;

}
